.git/*
env/
venv/
.venv
.venv/
my_env
my_env/
.my_env/
.my_env

__pycache__/
*.py[cod]

.idea
.idea/
.DS_Store
.AppleDouble
.LSOverride

*.sublime-project
*.sublime-workspace

static/
posts/static/
media/

db.sqlite3
.vscode/
.vscode
/.vscode
settings.json

__MACOSX/
mylogfile.log
